<% include partials/header %>

<div class="container">
  <h4>About this Web Application</h4>
  </br>
  <p>Movie Finder shows you suggestions of movies, TV series, or TV shows based on the words that you searched.</p>
  <p>To build this application I setted up the server using <a href="https://nodejs.org/en/" target="_blank">Node.js</a> and <a href="http://expressjs.com/" target="_blank">Express</a>. The views are generated using Embedded JavaScript (<a href="http://ejs.co/" target="_blank">EJS</a>), and the concept of partials to <em>"DRY"</em> the code <em>(Don't Repeat Yourself)</em>. I used the npm package '<a href="https://www.npmjs.com/package/request" target="_blank">request</a>' to do the API request, and the API that serves the movies data is the <a href="http://www.omdbapi.com/" target="_blank">Omdb</a>. Furthermore, the application was deployed to <a href="https://www.heroku.com/" target="_blank">Heroku</a>.</p>
  <p>All the technology used on this application is scalable and very reliable. Moreover, thanks to <a href="http://getbootstrap.com/" target="_blank">Bootstrap</a>, I could develop this responsive app without writing a single line of CSS!</p>
</div>

<% include partials/footer %>
