<% include partials/header %>

<div class="container">
  <h4>404</h4>
  <h5>Sorry, I could not find this page.</h5>
  </br>
  <a href="/" class="btn btn-secondary">Search again!</a>
</div>

<% include partials/footer %>
